<div class="row">
  <div class="col-xs-12 col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong>店舗検索</strong></h4>
      </div>
      <div class="panel-body">
        <%= form_with url: stores_path, method: :get, local: true, class: "form-horizontal"  do |f| %>
          <div class="form-group">
            <div class="col-xs-4">
              <%= f.label :キーワード検索, class: "control-label" %>
            </div>
            <div class="col-xs-8">
              <%= f.text_field :keyword, class: "form-control", placeholder: "半角スペース入力で複数指定できます" %>
            </div>
          </div>

          <div class="form-group text-center">
            <%= f.submit "検索ボタン", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
      
      <div class="panel-footer">
        <p>Powered by<%= link_to 'ホットペッパー Webサービス', "http://webservice.recruit.co.jp/" %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong>検索結果</strong>   "<%= @keyword %>"</h4>
      </div>
      <div class="panel-body">
        <% if @shops %>
          <% @shops.each do |shop| %>
            <div class="list-group">
              <div class="list-group-item"><%= image_tag shop["photo"]["pc"]["l"] %></div>

              <div class="list-group-item">
                <p class="list-group-item-heading">店名</p>
                <%= link_to  store_path(Store.find_by(api_id: shop["id"])) do  %>
                <p class="list-group-item-text"><strong><%= shop["name"] %></strong></p>
                <% end %>
              </div>

              <div class="list-group-item">
                <p class="list-group-item-heading">住所</p>
                <p class="list-group-item-text"><strong><%= shop["address"] %></strong></p>
              </div>

              <div class="list-group-item">
                <p class="list-group-item-heading">アクセス</p>
                <p class="list-group-item-text"><strong><%= shop["access"] %></strong></p>
              </div>

              <div class="list-group-item">
                <p class="list-group-item-heading">営業時間</p>
                <p class="list-group-item-text"><strong><%= shop["open"] %></strong></p>
              </div>
            </div>
          <% end %>
        <div class="panel-footer">
          <%= paginate @shops %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
