<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <% @shop.each do |shop| %>
        <div class="list-group">
          <div class="list-group-item">ロゴ画像（準備中）</div>

          <div class="list-group-item">
            <p class="list-group-item-heading">店名</p>
            <p class="list-group-item-text"><strong><%= shop["name"] %></strong></p>
          </div>

          <div class="list-group-item">
            <p class="list-group-item-heading">住所</p>
            <p class="list-group-item-text"><strong><%= shop["address"] %></strong></p>
          </div>

          <div class="list-group-item">
            <p class="list-group-item-heading">アクセス</p>
            <p class="list-group-item-text"><strong><%= shop["access"] %></strong></p>
          </div>

          <div class="list-group-item">
            <p class="list-group-item-heading">営業時間</p>
            <p class="list-group-item-text"><strong><%= shop["open"] %></strong></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <% @shop.each do |shop| %>
        <ul>
        <% if @check_in_today %>
          <% if @check_in_today.between?(@start_time, @end_time) %> 
            <li class="btn btn-danger"> チェックイン済 </li>
          <% else %>
            <%= form_with url: user_check_ins_path(@user, store_id: params[:id], store_name: shop["name"]), method: :post, local: true do |f| %>
            <li><%= f.submit "チェックイン", class: "btn btn-success" %></li>   
            <% end %>   
          <% end %>
        <% else %>
          <%= form_with url: user_check_ins_path(@user, store_id: params[:id], store_name: shop["name"]), method: :post, local: true do |f| %>
            <li><%= f.submit "チェックイン", class: "btn btn-success" %></li>   
            <% end %>
        <% end %>
          <%= link_to  user_check_in_path(@user, store_id: params[:id]) do %>
            <li class="btn btn-default">チェックイン履歴確認</li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div>
<% if @check_in_today %>
  <h2><strong>NOTE</strong></h2>

  <table class="table table-hover table-inverse">
    <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td> <%= comment.created_at %> </td>
        <% if comment.user.rank == false %>
          <td><span class="label label-primary"><%= comment.user.rank %></span></td>
        <% else %>
          <td><span class="label label-warning"><%= comment.user.rank %></span></td>
        <% end %>
        <td> <%= comment.user.name %> </td>
        <td> <%= comment.comment %> </td>
        <span id="likes_buttons_<%= comment.id %>">
         <%= render partial: 'likes/like', locals: {comment: comment} %>
        </span>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= form_with model: [@store, @comment], local: true do |f| %>
    <div class="field">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
    <div class="actions">
      <%= f.submit "送信", class: "btn btn-primary pull-right" %>
    </div>
	<% end %>
<% end %>
</div>