<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <%# 店舗情報 %>
      <% @shop.each do |shop| %>
        <div class="list-group">

          <%# JORENランク表示 %>
          <%# チェックイン回数が20回以上であれば"JOREN"、満たなければ"NORMAL"を表示 %>
          <div class="list-group-item">
            <% if current_user.check_ins.where(store_id: params[:id]).count >= 20 %>
              <h3><span class="label label-warning">JOREN</span></h3>
            <% else %>
              <h3><span class="label label-primary">NORMAL</span></h3>
            <% end %>
          </div>

          <div class="list-group-item"><%= image_tag shop["photo"]["pc"]["l"] %></div>

          <div class="list-group-item">
            <p class="list-group-item-heading">店名</p>
            <p class="list-group-item-text"><strong><%= shop["name"] %></strong></p>
          </div>

          <div class="list-group-item">
            <p class="list-group-item-heading">住所</p>
            <p class="list-group-item-text"><strong><%= shop["address"] %></strong></p>
          </div>

          <div class="list-group-item">
            <p class="list-group-item-heading">アクセス</p>
            <p class="list-group-item-text"><strong><%= shop["access"] %></strong></p>
          </div>

          <div class="list-group-item">
            <p class="list-group-item-heading">営業時間</p>
            <p class="list-group-item-text"><strong><%= shop["open"] %></strong></p>
          </div>
        </div>
    </div>
    <div class="panel-footer">
        <ul>
          <%# 当日の0時〜現在時間までの間の値をcreated_atカラムに持つcheck_inデータがあれば"チェックイン済"、なければチェックインボタン表示 %>
          <% if @check_in_today && @check_in_today.between?(@start_time, @end_time) %> 
            <li class="btn btn-default"> チェックイン済 </li>
          <% else  %>
            <%# チェックインボタン %>
            <%= form_with url: user_check_ins_path(current_user, store_id: params[:id], store_name: shop["name"]), method: :post, local: true do |f| %>
              <li><%= f.submit "チェックイン", class: "btn btn-warning" %></li>   
            <% end %> 
          <% end %>
          <%# チェックイン詳細画面へのボタン %>
          <li><%= link_to "チェックイン履歴確認", user_check_in_path(current_user, store_id: params[:id]), class: "btn btn-primary"%></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<%# 当日の0時〜現在時間までの間の値をcreated_atカラムに持つcheck_inデータがあればコメントを表示 %>
<% if @check_in_today && @check_in_today.between?(@start_time, @end_time) %>
  <div class="note">
    <h2><strong>NOTE</strong></h2>

    <%= form_with url: store_path(params[:id]), method: :get, local: true do |f| %>
      <%= f.select :sort_status, [["書き込み順",0],["最新順",1]], {selected: @sort_status} %>
      <%= f.submit "並び替え", class: "btn btn-success" %>
    <% end %>

    <table class="table table-hover table-inverse">
      <%# フォローしているユーザの名前にのみユーザ詳細へのリンクを設定（非同期通信） %>
      <tbody id="note_sort_<%= @sort_status %>">
      <%= render partial: 'stores/sort', locals: {comments: @comments, store: @store} %>
      </tbody>
    </table>

    <%# 1ページあたり15件表示のページネーション %>
    <div><%= paginate @comments %></div>

    <%# コメントフォーム %>
    <%= form_with model: [@store, @comment_new], local: true do |f| %>
      <div class="field">
        <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントはここに" %>
      </div>
      <div class="actions">
        <%= f.submit "書き込む", class: "btn btn-success pull-right" %>
      </div>
    <% end %>
  </div>
<% end %>