<div class="row">
  <div class="col-xs-3">
    <%= render 'layouts/sidebar', user: @user %>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <h2><strong>Follow</strong></h2>
    <div id="relationship-content">
      <% if @users.count > 0 %>
        <table class="table">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50') %></td>
                <td><%= link_to "#{user.name}", user_path(user) %></td>
                <td><p>JOREN：</p></td>
                <td><p>Follow：<%= user.following.count%></p></td>
                <td><p>Follower：<%= user.followed.count%></p></td>
                <td><%= render 'relationships/follow', user: user %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3><%= @user.name %>さんは、<strong>孤独飲みマイスター</strong>です。</h3>
        <p class="non_following-text">
        世の中には<strong>JOREN</strong>がたくさん潜んでいます。<br>
        今あなたの横で飲んでいる彼・彼女もまたどこかの<strong>JOREN</strong>かもしれません。</p>
        <p class="non_following-text">
        <strong>JOREN</strong>は数々の良店を知っています。<br>
        <strong>JOREN</strong>と繋がれば新たな世界が広がるかもしれません。</p>
        <p class="non_following-text">
        もちろん、1人で飲むのも至高の時間です。<br>
        しかし、<strong>JOREN</strong>同士で過ごす時間もまた格別ですよ。</p>
        <p class="non_following-text">
        孤独飲みマイスターのあなただけに特別に<strong>JOREN</strong>との繋がり方をお伝えします。</p>
        <p class="non_following-text">
        ”フォローするボタンを押す”</p>
        <p class="non_following-text">
        どうでしょう。<br>
        「友達100人できるかな」なんて歌っていた時代が懐かしくなりましたね。</p>
        <p class="non_following-text">
        さて、<strong>JOREN</strong>との繋がり方は理解いただけたかと思います。<br>
        あとはあなたの気持ち次第です。</p>
        <p class="non_following-text">
        さあ。。。<br>
        <%= @user.name %>さんが、<strong>JOREN</strong>ライフを謳歌していただけることを願っております。</p>
      <% end %>
    </div>
  </div>
</div>