<div class="row">
  <div class="col-xs-3">
    <%= render 'layouts/sidebar', user: @user, joren: @joren %>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <p class="main-text"><strong><%= @user.name %><br><%= @joren.length %>店舗のJOREN</strong></p>
    <div class="content">
      <h2>JOREN店舗</h2>
      <table class="table">
        <thead>
          <tr>
            <th>店舗名</th>
            <th>総入店回数</th>
            <th>最終入店日時</th>
          </tr>
        </thead>
        <tbody>
        <% @joren.each do |joren|%>
          <tr>
            <th>
            <%= link_to store_path(Store.find(joren.store_id)) do %>
            <%= joren.store_name %>
            <% end %>
            </th>
            <th><%= @user.check_ins.where(store_id: joren.store_id).count %></th>
            <th><%= joren.created_at %></th>
          </tr>
        <% end %>
        </tbody>
      </table>  
    </div>
    <div class="content">
      <h2>JORENへの足跡</h2>
      <table class="table">
        <thead>
          <tr>
            <th>店舗名</th>
            <th>総入店回数</th>
            <th>最終入店日時</th>
          </tr>
        </thead>
        <tbody>
        <% @not_joren.each do |not_joren| %>
          <tr>
            <th>
            <%= link_to store_path(Store.find(not_joren.store_id)) do %>
            <%= not_joren.store_name %>
            <% end %>
            </th>
            <th><%= @user.check_ins.where(store_id: not_joren.store_id).count %></th>
            <th><%= not_joren.created_at %></th>
          </tr>
        <% end %>
        </tbody>
      </table>  
    </div>
  </div>
</div>
