<div class="content">
  <div class="sidebar">
    <%= render 'layouts/sidebar', user: @user %>
  </div>

  <div class="main">
    <p class="main-text"><strong><%= @user.name %><br><%= @user.joren(@user).length %>店舗のJOREN</strong></p>
    <div class="main-box">
      <h2>JOREN店舗</h2>
      <table class="table check_in_table">
        <thead>
          <tr>
            <th>店舗名</th>
            <th></th>
            <th>総入店回数</th>
            <th>最終入店日時</th>
          </tr>
        </thead>
        <tbody>
        <% @user.joren(@user).each do |joren|%>
          <tr>
            <th colspan="2"><%= link_to "#{joren.store_name}", store_path(Store.find(joren.store_id)) %></th>
            <th><%= @user.check_ins.where(store_id: joren.store_id).count %></th>
            <th><%= joren.created_at %></th>
          </tr>
        <% end %>
        </tbody>
      </table>  
    </div>
    <div class="main-box">
      <h2>JORENへの足跡</h2>
      <table class="table check_in_table">
        <thead>
          <tr>
            <th>店舗名</th>
            <th></th>
            <th>総入店回数</th>
            <th>最終入店日時</th>
          </tr>
        </thead>
        <tbody>
        <% @user.not_joren(@user).each do |not_joren| %>
          <tr>
            <th colspan="2"><%= link_to "#{not_joren.store_name}", store_path(Store.find(not_joren.store_id)) %></th>
            <th><%= @user.check_ins.where(store_id: not_joren.store_id).count %></th>
            <th><%= not_joren.created_at %></th>
          </tr>
        <% end %>
        </tbody>
      </table>  
    </div>
  </div>
</div>
