<div class="row">
  <div class="col-xs-3">
    <%= render 'layouts/sidebar', user: @user %>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <h2><strong>チェックイン履歴一覧</strong></h2>
    <% @check_ins.each do |check_in| %>
      <div class="col-xs-5">
        <table class="table">
          <thead>
            <tr>
              <th>店舗名</th>
              <th><%= check_in.store_name %></th>
            </tr>
            <tr>
              <th>入店日</th>
              <th><%= check_in.created_at %></th>
            </tr>
            <tr>
              <th>入店時間</th>
              <th><%= check_in.created_at %></th>
            </tr>
            <tr>
              <th>ランク</th>
              <th><%= check_in.user.rank %></th>
            </tr>
            <tr>
              <th>コメント</th>
              <th><%= check_in.created_at %></th>
            </tr>
          </thead>
        </table>
      </div>
    <% end %>
  </div>
</div>