<div class="row">
  <div class="col-xs-3">
    <%= render 'layouts/sidebar', user: @user %>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <h2><strong>チェックイン履歴一覧</strong></h2>
    <% @check_ins.each do |check_in| %>
      <table class="table check_in-table">
        <thead>
          <tr>
            <th>店舗名</th>
            <th>入店日時</th>
            <th>ランク</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
            <%= link_to store_path(Store.find(check_in.store_id)) do %>
              <%= check_in.store_name %>
            <% end %>
            </th>
            <th><%= check_in.created_at %></th>
            <th><span class="label label-primary"><%= check_in.user.rank %></span></th>
          </tr>
        </tbody>
      </table>
      <div class="check_in-comment">
      <% if check_in.comments.exists? %>
        <%= check_in.comments.where(check_in_id: check_in.id) %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>