<div class="row">
  <div class="col-xs-3">
    <%= render 'layouts/sidebar', user: @user %>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <h3><strong>チェックイン履歴</strong></h2>
    <h3><span class="label label-primary"><%= @check_in.user.rank %></span></h2>
    <%= link_to store_path(Store.find(@check_in.store_id)) do %>
    <h3><%= @check_in.store_name %></h3>
    <% end %>
    <h4>総入店回数：<%= @check_ins_count %></h4>
    <h4>初回入店日時：<%= @check_ins.first.created_at %></h4>
    <div class="check_in-content">
      <% @check_ins.each do |check_in| %>
        <table class="table check_in-table">
          <thead>
            <tr>
              <th>店舗名</th>
              <th>入店日時</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
              <%= link_to store_path(Store.find(check_in.store_id)) do %>
                <%= check_in.store_name %>
              <% end %>
              </th>
              <th><%= check_in.created_at %></th>
            </tr>
          </tbody>
        </table>
        <% @comments.each do |comment| %>
          <div class="check_in-comment">
            <%= comment.comment %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @check_ins %>
  </div>
</div>