<div class="row">
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong>店舗検索</strong></h4>
      </div>
      <%= form_with url: home_search_path, method: :post, class: "form-hrizontal"  do |f| %>
        <div class="form-group">
          <%= f.label :大エリア %>
          <%= f.select :large_area, {北海道: "Z0111" ,青森県: "青森県" ,岩手県: "岩手県" } %>
        </div>
        <div class="form-group">
          <%= f.label :中エリア %>
          <%= f.select :middle_area, {北海道: "Z0111" ,青森県: "青森県" ,岩手県: "岩手県" } %>
        </div>
        <div class="form-group">
          <%= f.label :ジャンル %>
          <%= f.select :genre, {北海道: "Z0111" ,青森県: "青森県" ,岩手県: "岩手県" } %>
        </div>
        <div class="form-group">
          <%= f.submit "検索ボタン" %>
        </div>
      <% end %>
      
      <div class="panel-footer">
        <p>Powered by
          <%= link_to "http://webservice.recruit.co.jp/" do %>
            ホットペッパー Webサービス</p>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong>検索結果</strong></h4>
        <%= @res_data %>
        <%= @name %>
      </div>

      <table>
      </table>
    </div>
  </div>
  






<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA48kxM2xlWwFluhAtRQWfO3AkX8ZhlFnI&libraries=places"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA48kxM2xlWwFluhAtRQWfO3AkX8ZhlFnI&callback=initMap" async defer></script>
</div>
